<ion-item id="item" color="tertiary">
    
    <ion-label>
        <div class="ion-text-capitalize">
            {{dummyUserList.title}} {{dummyUserList.first_name}} {{dummyUserList.last_name}}
        </div>
        <div class="ion-text-capitalize">
            <span>{{dummyUserList.gender}}</span> &nbsp;
            <span>{{dummyUserList.birthdate | date}}</span>
        </div>           
    </ion-label>

    <img src="assets/image/user.jpg" alt="User profile image">
    
</ion-item>


<!-- <div class="profile-img"></div> -->

<!-- ionic g page homepage -->