#goto-btn{
    position: fixed;
    bottom: 0;
    margin-left: 15%;
    margin-bottom: 5%;
  }

  
#goto-btn p{
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

ion-content {
  --background: #fff url("/assets/image/bg.jpg") no-repeat center center / cover;
}

ion-slides {
  height: 90%;
  --bullet-background: rgb(80, 53, 155);
  --bullet-background-active: rgb(33, 28, 28);
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 5rem; 
  color: rgb(44, 31, 6);
}

b {
  font-weight: 100;
  color: purple;
}

p {
  font-size: 14px;
  line-height: 2;
  padding: 10%;
}

.bg-1{
  background-image: url("../../assets/image/slider1.jpg");
  background-size: cover;
}

.bg-2{
  background-image: url("../../assets/image/slider2.jpg");
  background-size: cover;
}

.bg-3{
  background-image: url("../../assets/image/slider3.png");
  background-size: cover;
}

#skip-btn{
  width: 100%;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
